<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.project9">

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <uses-feature android:name="android.Manifest.permission.READ_EXTERNAL_STORAGE"
        android:required="true"/>

    <uses-feature android:name="android.Manifest.permission.WRITE_INTERNAL_STORAGE"
        android:required="true"/>

    <uses-feature android:name="android.Manifest.permission.READ_INTERNAL_STORAGE"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".InventoryActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".Data.InventoryProvider"
            android:authorities="com.example.android.project9"
            android:exported="false" />

        <activity
            android:name=".EditActivity"
            android:parentActivityName=".InventoryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".InventoryActivity" />
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <data android:scheme="mailto" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".SummaryActivity"
            android:parentActivityName=".InventoryActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".InventoryActivity" />
        </activity>

    </application>

</manifest>